extends layout

block content
	h2 Login

	form(method='POST', action='/users/login')
		#form-group
			label Username:
			input.form-control.mt-2(name='username', type='text')
		#form-group
			label Password:
			input.form-control.mt-2(name='password', type='password')
		input.btn.btn-primary.mt-2(type='submit', value='Login')
